[data-aos] {
  opacity: 0;
}

.slide-up {
  animation: slide-up 1s ease-in-out both;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slide-left {
  animation: slide-left 1s ease-in-out both;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-right {
  animation: slide-right 1s ease-in-out both;
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
